* {
	font-family: 'Roboto', sans-serif;
}

body {
	background: #1e1e21;
}

h3 {
	color: #ffffff;
}

.chart-container {
	text-align: center;
}

.chart {
	display: inline-block;
}

.chartjs-render-monitor {
	background: #000000;
	margin: 10px;
}